<div class="header">
	<h1 class="logo_color">Creators of MessRoom</h1>
</div>


<div class="mess_show_container about_infos">
	<div class="about_container">
		<div class="person">
			<div class="person_image">
				<!-- <h1>imagwe</h1> -->
				<%= image_tag 'sou.jpg' ,class:'person_img'%>
			</div>
			<div class="person_info">
				<h2>Vedang Kane</h2>
				<h3 class="subhead">Machine learning</h3>
				<p>T.E IT student</p>

				<h5>Roll: 3074</h5>
				<h5>Sem: 6</h5>
				<h6>Email: vedangkane@gmail.com</h6>
			</div>
		</div>

		<div class="person">
			<div class="person_image">
				<!-- <h1>imagwe</h1> -->
				<%= image_tag 'rahu.jpg' ,class:'person_img'%>
			</div>
			<div class="person_info">
				<h2>Sarthak Joshi</h2>
				<h3 class="subhead">Web Dev</h3>
				<p>T.E IT student</p>

				<h5>Roll: 3089/h5>
				<h5>Sem: 6</h5>
				<h6>Email: sarthakjoshi2004@gmail.com</h6>
			</div>
		</div>
		
	</div>
	<div class="header">
		<h2 class="logo_color">What is MessRoom ?</h2>
	</div>

	<div class="whatis_info">
		<p>MessRoom is an online mess finding website. Here people can search and find mess according to their preferences and people can upload their mess to reach potential finder for their mess.</p>
	</div>
</div>